random_seed: 42
model_save_path: models/model
predictions_save_path: submission.csv
use_mlflow: true
mlflow_uri: http://localhost:8080

data:
  train_path: data/train.csv
  test_path: data/test.csv
  cat_features:
    - Sex
    - Embarked
  columns_to_drop:
    - Ticket
    - Cabin
    - Name
    - PassengerId
  columns_to_mix:
    - SibSp
    - Parch
  mixed_column_name: Siblings
  target: Survived

model_params:
  learning_rate: 1e-2
  iterations: 500
  depth: 5
  silent: True
  loss_function: Logloss
